body {
    background-color: white;
    margin: 0;
    padding: 50px;
    font-family: Arial, sans-serif;
}

/* Titres */
h1 {
    color: #8B4513;
    text-align: center;
}

/* Images centrées */
.centered-image {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 250px;
    object-fit: cover;
    border: 2px solid #333;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

/* Conteneur du menu */
.menu-section {
    width: 60%;
    margin: 0 auto;
}

/* Paragraphes */
.menu-section p {
    margin: 5px 0;
    text-align: justify;
}

/* Prix */
.item-price {
    color: #8B4513;
    text-align: right;
    margin-bottom: 15px;
}

/* Bouton réservation */
.div-para {
    background-color:red;
    width: 40%;
    margin: 40px auto;
    padding: 10px;
    text-align: center;
}

.div-para a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
