h1{      color:#8B4513;
        text-align: center;
        
}
 body {

     text-align: center;
    background-color: white;
    margin: 0;
    padding: 50px;
}

.centered-image {
    text-align: center;
    width:50%;
     height: 250px;
    left: 50px;
    right: 50px;
    top:5px;
    bottom: 5px ;
    object-fit: cover;
    border: 2px solid #333; /* Bordure simple */
    border-radius: 0; /* Rectangle parfait */
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}
p {
    margin: 0;
    text-align: center;
    width: 60%;
     
    
   
}
    

.item-price {
            color:#8B4513;
            text-align:right;
            width: 65%;
            
           
}

.div-para{
    text-align: center;
    background-color:#8B4513 ;
    color: white;
    width: 40%;
    height: 25px;
    font-weight:100px ;
    position: absolute;
    left: 30%;
    right: 30%;
    
    
}
a{ 
    color:white;
    text-decoration: none;
    text-align: center;
}